h1 {
    color: brown;
}
.bigger {
    font-size: 40px;
}
label {
    color: blue;
}
.bigger {
    font-weight: bold;
}
button {
    color: white;
}
input {
    border:1px solid red;
}
small {
    color: green;
}
button {
    height: 40px;
}
/* mouse over button */
button:hover {
    color:blue;
}

