header {
    position: sticky;
    top: 0px;
    text-align: center;
    background-color: rgb(17, 16, 17);
    width:1500px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
}
.hd-class {
    position: absolute;
    top: 10px;
    left: 550px;
}
a {
    margin: 50px;
    color: white;
}
#a-home {
    color: chartreuse;
}
a:hover {
    color: red;
}
nav {
    display: inline-block;
}
#p-id {
    color: rgb(15, 231, 105);
    font-size: 24px;
    top: 40px;
}
#small-id {
    color: lawngreen;
    font-size: 14px;
}
.f-f {
    color: white;
}
.divone-main {
    position: relative;
    width: 1500px;
    background: gray;
    top: 0px;
    text-align: center;
    height: 800px;
}
#formone-class {
    position: absolute;
    width: 500px;
    height: 550px;
    left: 420px;
    border: 2px solid red;
    padding: 5%;
}
footer {
    top: 0px;
    width: 1502px;
    height: 400px;
    margin: 0px 0px;
    text-align: center;
    background-color: rgb(80, 78, 78);
    border: 1.5px solid red;
    color: white;
}
form {
    width: 50%;
    border: 1.5px solid white;
    margin: 0px auto 30px auto;
}

.img-footer {
    width: 150px;
    height: 150px;
}
.a-footer {
    color: orange;
    font-size: 35px;
}
fieldset {
    width: 500px;
    border: none;
    margin: 0px auto 30px auto;
}
input {
    background-color: black;
    color: white;
    border: 1px solid white;
}
#click-id {
    width: 50%;
}

 